absl-py
aiohttp
aiosignal
article-dataset-builder
astunparse
async-timeout
autosemver
bayesian-optimization
beautifulsoup4
binaryornot
cachetools
ci-info
cloudscraper
configobj
configparser
crossrefapi
dulwich
elasticsearch
elasticsearch-dsl
et-xmlfile
etelemetry
filelock
fitz
flatbuffers
frozenlist
future
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gym
gym-notices
httplib2
inspire-utils
ipython-genutils
isodate
jax
kaggle
keras
libclang
lmdb
looseversion
Markdown
ml-dtypes
multidict
munkres
nameparser
networkx
nibabel
nipype
oauthlib
openai
openpyxl
opt-einsum
pathlib
ply
protobuf
prov
pyasn1
pyasn1-modules
pydot
PyMuPDF
PyPDF2
PyQt5-sip
python-magic
pyxnat
rdflib
refextract
reportlab
requests-oauthlib
requests-toolbelt
rsa
simplejson
sphinxcontrib-devhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
tensorboard
tensorboard-data-server
tensorflow-estimator
tensorflow-hub
tensorflow-macos
tensorflow-metal
termcolor
text-unidecode
tqdm
traits
webencodings
yarl
